<template>
    <div>
        <div class="alert alert-success" role="alert" v-if="success">
            {{ success }}
        </div>
        <div class="alert alert-danger" role="alert" v-if="error">
            {{  getErrors() }}
        </div>
    </div>
</template>


<script>

export default {
    name: 'Alert',
    components: {},
    props: ['success','error'],
    methods: {
        getErrors: function () {
            if (this.error instanceof Object) {
                let error_text = '';
                for (let key in this.error) {
                    if (this.error.hasOwnProperty(key)) {
                        error_text += (this.error[key]) ;
                    }
                }
                return error_text;
            }else{
                return this.error;
            }

        },
    }
};
</script>

