<template>
    <div class="vue-family-card">
        <a
            href="#"
            class="vue-family-card__image"
            :style="{backgroundImage: image ? `url(${image})` : null}"
        />
        <div class="vue-family-card__name">
            <a   href="#" >
                {{ name }}
            </a>
        </div>
    </div>
</template>

<script>
export default {
    name: 'FamilyCard',
    props: {
        name: String,
        image: String,
        source: Object
    },
    methods: {
        click() {
        }
    }
};
</script>
