<template>
    <Alert :error="error" :success="success"></Alert>
    <FamilyTreeRow :items="tree"  @onTesting="testing" ></FamilyTreeRow>
</template>


<script>
import FamilyTreeRow from '@/components/FamilyTreeRow.vue';
import { list } from '@/api/FamilyService.js';
import Menu from '@/components/Menu.vue';
import Alert from '@/components/Alert.vue';


export default {
    name: 'FamilyTree',
    components: {
        Alert,
        Menu,
        FamilyTreeRow
    },

    data() {
        return {
            tree: [],
            error:'',
            success:''
        };
    },
    mounted() {
        this.getTree();

    },
    methods: {
        getTree: async function () {
            this.tree = await list();
        }
    }
};
</script>

<style>
.vue-family-card__image {
    display: block;
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
    background-position: 50%;
    background-size: cover;
    background-color: #dedede;
}

.vue-family-card {
    text-align: center;
    width: 100px;
}



.vue-family-tree__person {
    position: relative;
    z-index: 10;
    padding-left: 16px;
    padding-right: 16px;
}

.vue-family-tree__content {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}


.vue-family-tree__col {
    position: relative;
}

.vue-family-tree__row {
    display: flex;
    justify-content: center;
}

.vue-family-tree__couple {
    position: relative;
    display: inline-flex;
}

.vue-family-tree__couple_children .vue-family-tree__person:last-child:before {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 1px;
    height: calc(100% - 34px);
    background-color: #ddd;
}

.vue-family-tree__couple:before {
    content: "";
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -16px;
    height: 1px;
    width: 32px;
    background-color: #ddd;
}

.vue-family-tree__branch .vue-family-tree__col {
    padding-top: 16px;
}

.vue-family-tree__branch .vue-family-tree__branch .vue-family-tree__col:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 16px;
    right: 0;
    border-top: 1px solid #ddd;
}

.vue-family-tree__couple_children .vue-family-tree__person:last-child:after {
    content: "";
    position: absolute;
    top: 48px;
    left: -3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ddd;
}


.vue-family-tree__branch .vue-family-tree__branch .vue-family-tree__col_couple:last-child:before {
    width: calc(50% - 68px);
}

.vue-family-tree__branch .vue-family-tree__branch .vue-family-tree__col:last-child:before {
    width: 82px;
    border-right: 1px solid #ddd;
    left: 0;
    right: auto;
}

.vue-family-tree__branch .vue-family-tree__branch .vue-family-tree__col:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 16px;
    right: 0;
    border-top: 1px solid #ddd;
}


.vue-family-tree__branch .vue-family-tree__branch .vue-family-tree__col_couple:first-child:before {
    width: calc(50% + 68px);
}

.vue-family-tree__branch .vue-family-tree__branch .vue-family-tree__col:first-child:before {
    /* width: 82px;*/
    border-left: 1px solid #ddd;
}

.vue-family-tree__branch .vue-family-tree__branch .vue-family-tree__col:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 16px;
    right: 0;
    border-top: 1px solid #ddd;
}
</style>
