
<template>

    <div class="vue-family-tree__branch">
        <div  class="vue-family-tree__row" v-if="items">

            <div
                v-for="(block, index) in items"
                :key="index"
                class="vue-family-tree__col"
                :class="{'vue-family-tree__col_couple': block.first_person && block.second_person}"
                >
                <div class="vue-family-tree__content">
                    <div :class="{
                    'vue-family-tree__couple': block.first_person && block.second_person,
                    'vue-family-tree__couple_children': block.children && block.children.length
                  }" @mouseover="actionBlock = true" @mouseleave="actionBlock = false">

                        <div class="icon_block"  v-show="actionBlock">
                            Action
                            <div>
                                <i @click="create(block.id)" class="bi bi-person-fill-add size-icon" ></i>
                                <i @click="update(block.id)" class="bi bi-person-fill-gear size-icon"></i>
                                <i @click="close(block.id)" class="bi bi-person-fill-x size-icon"></i>
                            </div>
                        </div>

                        <div class="vue-family-tree__person"  v-if="block.first_person">
                            <div class="vue-family-tree__card">
                                <FamilyTreeCard :name="block.first_person.name" ></FamilyTreeCard>
                            </div>
                        </div>
                        <div class="vue-family-tree__person"  v-if="block.second_person">
                            <div class="vue-family-tree__card">
                                <FamilyTreeCard  :name="block.second_person.name" ></FamilyTreeCard>
                            </div>
                        </div>
                    </div>
                </div>
                <FamilyTreeRow
                    v-if="block.children"
                    :items="block.children"
                >
                </FamilyTreeRow>
            </div>
        </div>
        <div v-else>
            <a style="cursor: pointer" @click="create(0)">Создайте корень вашего дерева</a>

        </div>
    </div>

</template>


<script>
import FamilyTreeCard from '@/components/FamilyTreeCard.vue';

const callOnTesting = () => {
    const  obj = {color: 'blue', length: '77 feet'}
   alert('df')
}
export default {
    name: 'FamilyTreeRow',
    prop:['deleteEvent'],
    components: {
        FamilyTreeCard
    },
    props: {
        items: Object,
    },
    data(){
        return {
            actionBlock: false
        }
    },
    methods: {
        create(id){
            window.location = '/tree/create/'+id
        },
        update(id){
            window.location = '/tree/update/'+id
        },
        close(id){
            window.location = '/tree/delete/'+id
        },
    }
};
</script>

<style>
.icon_block{
    position: absolute;
    left: 0px;
    z-index: 1000;
}
.size-icon{
    font-size: 30px;
    cursor: pointer;
}
</style>
