
<template>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reg">Reg</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tree">Family Tree</a>
                </li>
            </ul>
        </div>
    </nav>
</template>


<script>

export default {
    name: 'Menu',
};
</script>
