<template>
    <div>

        <Alert :error="error" :success="success"></Alert>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">First Name</label>
            <input type="text" class="form-control" v-model="item.first_name">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Second Name</label>
            <input type="text" class="form-control" v-model="item.second_name">
        </div>

        <button @click="send" class="btn btn-primary">Submit</button>
    </div>
</template>


<script>
import { create, update, one, list } from '@/api/FamilyService.js';
import Alert from '@/components/Alert.vue';
export default {
    name: 'TreeForm',
    components: { Alert },
    data() {
        return {
            item: {
                second_name: '',
                first_name: '',
                id: null,
            },
            success: '',
            error: '',
        };
    },
    mounted() {
        this.getTree();

    },
    methods: {
        send: function () {
            let promise = '';
            if (this.$route.params.id) {
                promise = update(this.item.second_name, this.item.first_name, this.item.id);
            } else {
                promise = create(this.item.second_name, this.item.first_name, this.item.id);
            }
            promise.then(response => {
                this.success = 'Saved';
                this.error = '';
                setTimeout(function(){
                    window.location = '/tree'
                },1000)
            }, error => {
                this.error = error.response.data.error;
                this.success = '';
            });
        },
        getTree: async function () {
            if (this.$route.params.id) {
                let family = await one(this.$route.params.id);
                this.item.first_name = family.first_person.name;
                try{
                    this.item.second_name =  family.second_person.name;
                }catch (e){
                    this.item.second_name =  '';
                }

                this.item.id = family.id;
                console.log(this.item.id);
            }
            if (this.$route.params.parent_id) {
                this.item.first_name = '';
                this.item.second_name = '';
                this.item.id = this.$route.params.parent_id;
            }

        }
    }
};
</script>

