

<template>

    <Menu></Menu>

</template>
<script>
import Menu from '@/components/Menu.vue';

export default {
    name: 'Home',
    components:{
      Menu
    },
    methods: {
    }
};
</script>
