<template>
    <main>
        <Menu></Menu>
        <div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control"  v-model="email"  placeholder="name@example.com">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="password" class="form-control" v-model="password"  >
            </div>

            <button @click="auth" class="btn btn-primary">Submit</button>
        </div>
    </main>
</template>
<script>

import Menu from '@/components/Menu.vue';
import  {login}  from '@/api/AuthService.js'
export default {
    name: 'Login',
    components: { Menu },
    data() {
        return {
            email: 'dkfgrt@gmail.com1',
            password: '12345678'
        };
    },
    methods: {
        auth() {
            login(this.email, this.password)
        }
    }
};
</script>
