

<template>
  <main>
      <Menu></Menu>
      <h1>Регистрация </h1>

      <Alert :error="error" :success="success"></Alert>

      <div>

          <div class="mb-3">
              <label for="" class="form-label">Name</label>
              <input type="text" class="form-control"  v-model="name"  placeholder="">
          </div>

          <div class="mb-3">
              <label for="" class="form-label">Email address</label>
              <input type="email" class="form-control"  v-model="email"  placeholder="name@example.com">
          </div>

          <div class="mb-3">
              <label for="" class="form-label">Password</label>
              <input type="password" class="form-control" v-model="password"  >
          </div>

          <button @click="reg" class="btn btn-primary">Submit</button>
      </div>

  </main>
</template>
<script>
import FamilyTree from '@/components/FamilyTree.vue';
import Menu from '@/components/Menu.vue';
import Alert from '@/components/Alert.vue';
import { reg } from '@/api/AuthService.js';


export default {
    name: 'Reg',
    components: {
        Alert,
        Menu,
    },
    data() {
        return {
            email: 'dkfgrt@gmail.com1',
            password: '12345678',
            name:'',
            success:'',
            error:'',
        };
    },
    methods: {
        reg() {
            let promise  = reg(this.email, this.password, this.name)
            promise.then(response => {
                this.success = 'Saved';
                this.error = '';
                setTimeout(function(){
                    window.location = '/login'
                },1000)
            }, error => {
                this.error = error.response.data.error;
                this.success = '';
            });
        }
    }
};
</script>
