<template>
    <main>
        <Menu></Menu>
        <h1>Создать</h1>
        <TreeForm></TreeForm>
    </main>
</template>
<script>

import Menu from '@/components/Menu.vue';
import TreeForm from '@/components/TreeForm.vue';
export default {

    name: 'TreeCreate',
    components: { Menu, TreeForm },
};
</script>
