<template>
    <main>
        <Menu></Menu>
        <h1>Удаление записи {{$route.params.id}} </h1>

        <Alert :error="error" :success="success"></Alert>
    </main>
</template>
<script>

import Menu from '@/components/Menu.vue';
import { close } from '@/api/FamilyService.js'
import Alert from '@/components/Alert.vue';

export default {
    name: 'TreeDelete',
    components: { Alert, Menu },
    data() {
        return {
            success: '',
            error: '',
        };
    },
    created() {
       let promise =  close(this.$route.params.id);
        promise.then(response => {
            this.success = 'Saved';
            this.error = '';
        }, error => {
            this.error = error.response.data.error;
            this.success = '';
        });
    }
};
</script>
