

<template>
    <main>
        <Menu></Menu>
        <FamilyTree />
    </main>
</template>
<script>
import FamilyTree from '@/components/FamilyTree.vue';
import Menu from '@/components/Menu.vue';


export default {
    name: 'Tree',
    components: {
        Menu,
        FamilyTree
    },
    methods: {
    }
};
</script>
